h2,h3,h4,body,table>thead>tr>th {font-family:'Consolas','Noto Sans SC' !important;}
h2 {color:#e10707 !important;width:100%;margin-bottom:1rem;}
h3 {margin-bottom:1rem;}
a {color:#e10707;}

article .entry-content a {text-decoration:none;}
article .entry-content a:hover {color:#a60505;text-decoration:underline;}
article .entry-content c {display:inline;margin-left:0.1rem;margin-right:0.1rem;}
article .entry-content div.su-heading {border-top:1px solid #5ce;border-bottom:1px solid #5ce;margin-top:3rem;font-size:24px !important;}
article .entry-content div.su-heading div.su-heading-inner {border-top:4px solid #aafafa;border-bottom:4px solid #aafafa;padding:0.5em 0.5em;}
article .entry-content div.adsense-after-content {margin:2rem auto;}
article .entry-content div.adsense-after-content ins.adsbygoogle {display:block;text-align:center;}
article .header-bottom .entry-meta i {display:inline-block;width:1.2rem;margin-left:0.15rem;}

div.banner {text-align:center;border:1px solid #eee;background:#fbfcfd;padding-bottom:1rem;}
div.banner p {text-align:center;}
div.banner p.review {margin:0 auto;}
div.banner a {text-decoration:none !important;}
div.banner a:hover {color:#a60505 !important;}
div.banner .banner-top-logo {line-height:120px;border-bottom:1px #efefef solid;}
div.banner .banner-detail {margin:2rem auto 1.5rem 2rem;text-align:left;}
div.banner .banner-detail ul li i.sui-arrow-right {width:15px;margin-right:10px;}
div.banner .banner-payments {padding-top:5px;padding-bottom:24px;}
div.banner .banner-payments i {font-size:1.5rem;margin:0.15rem;}
div.banner .banner-bottom {font-size:1rem;padding-top:14px;padding-bottom:2px;border-top:1px #efefef solid;}
div.banner .banner-bottom a {display:block;margin:0.4rem auto;}

div.post-item-button {margin:1.2rem auto;}
div.chart-container {margin-top:2rem;height:320px;}
div.flex-row div.col-sm-auto {margin-left:auto;margin-right:auto;}
div.pt-cv-pinmas > h4.pt-cv-title {margin-top:0.3rem !important;margin-bottom:-0.3rem !important;}
div.pt-cv-pinmas > div.pt-cv-content > a.pt-cv-readmore {margin-top:0.6rem !important;}
div.affiliate-disclosure {padding:13px 10px;font-size:1rem;text-align:justify;}
div.center div.tips {font-size:14px;margin:0.3rem auto 1.5rem auto;}
div.center div.tips + div.post-item-button {margin-top:-0.6rem;}
div.shopping-deals {border:#1a73e8 3px solid;margin:1.5rem 0 2.7rem 0;padding:0.5rem 0;}
div.shopping-deals:hover {background-color:#fffdd0;}
div.share {padding:7px 0 5px 0;}
div.share table tr td:nth-child(1) {width:45px;}
div.share table tr td:nth-child(1) i {color:#000;font-size:1.8rem;}

div#commentlist-container div.comment-content {font-size:1em;}
div#commentlist-container div.comment-author, div#commentlist-container div.comment-author a {font-weight:bold;}
div#commentlist-container div.comment-author > span.small {font-weight:normal;margin:3px;border-radius:3px;color:#008821;display:inline-block;font-size:11px;border:1px solid #008821;padding:3px;line-height:12px;}
div#footer-horizontal-widget-area div.textwidget > div.center {margin:0 0 -1.5rem 0;padding-bottom:0.5rem;border-top:1px solid #ddd;background-color:#f7f8f9;}
div#footer-horizontal-widget-area div.textwidget > div.center > div {margin:1.5rem auto;max-width:1200px;}
div#footer-horizontal-widget-area div.textwidget > div.center > div table {margin-bottom:1rem;}
div#footer-horizontal-widget-area div.textwidget > div.center > div table td {text-align:center;}
div#footer-horizontal-widget-area div.textwidget > div.center > div table td img {width:75%;}

div.shop-item > div.img {margin-bottom:1rem;}
div.shop-item.center {float:none;margin-left:auto;margin-right:auto;}
div.shop-item.center > div.img > img {width:100%;margin-bottom:0 !important;}
div.shop-item.center.border {width:100%;}
div.shop-item.center.border > div.img > img {-webkit-box-shadow:0 0 10px rgba(0,204,204,.5);box-shadow:0 0 10px rgba(0,204,204,.5);}

div.sidebar li a:hover {color:#a60505 !important;}
div.textwidget div.su-heading div.su-heading-inner {padding:0.2em;font-size:18px;border-top:4px solid #ffe4e1;border-bottom:4px solid #ffe4e1;}
div.textwidget div.su-list ul li {word-break:break-all;}
div.textwidget div.shop-item {float:none;width:100%;border:1px solid #eee;margin:0;}
div.textwidget div.shop-item div.title {padding:0.5em 0;font-size:1.2rem;font-weight:bold;background:#fbfcfd;border-bottom:1px solid #eee;margin-bottom:1rem;}
div.textwidget div.shop-item div.img img {width:90%;margin:1em auto;}
div.textwidget div.shop-item table {border-top:1px #eee solid !important;margin:1em 0 0 0 !important;width:100%;max-width:100%;box-shadow:none;}
div.textwidget div.shop-item table tr {border-bottom:none !important;}
div.textwidget div.shop-item table tr td {padding:0.8rem 0.2rem !important;border-bottom:none !important;}
div.textwidget div.shop-item table tr td img {width:90%;}

div.aawp-compare {max-width:600px;margin-left:auto;margin-right:auto;}
div.aawp-compare table.aawp-compare-table {border:1px #c2c0d6 solid !important;}
div.aawp-compare table.aawp-compare-table tr td {border:none !important;}
div.aawp-compare table.aawp-compare-table tr td.aawp-table-td-thumb {padding:1.25rem !important;}
div.aawp-compare table.aawp-compare-table tr td.aawp-table-td-description {padding-top:1.5rem !important;padding-bottom:1.5rem !important;}
div.aawp-compare table.aawp-compare-table-featured {border:1px #38d39f solid !important;}

div.about-author {color:#fff;background-color:#00aeef;max-width:1020px;margin:0 auto 2rem auto;}
div.about-author h4 {color:#fff;}
div.about-author div.su-column:nth-child(1) div.center {max-width:200px;margin:1.5rem 0 1.5rem 2rem;}
div.about-author div.su-column:nth-child(1) img {border-radius:99%;-moz-border-radius:99%;-ms-border-radius:99%;-webkit-border-radius:99%;}
div.about-author div.su-column:nth-child(2) p {font-size:1rem;}
div.about-author div.su-column:nth-child(2) div.su-column-inner {padding:1.5rem 2rem;}

table th {letter-spacing:1px !important;}
table:not(.aawp-table) {border:none !important;}
table:not(.aawp-table) tr th {border-left:none !important;border-right:none !important;border-top:none !important;padding:0.4em !important;}
table:not(.aawp-table) tr td {border-left:none !important;border-right:none !important;padding:0.4em !important;}

table.price {margin-bottom:1.5em;}
table.price tr th {text-align:center;border-bottom:1px solid rgba(225,7,7,.5) !important;font-weight:bold;}
table.price tr th.border-right {border-right:1px solid rgba(225,7,7,.5) !important;}
table.price tr th a {font-weight:normal;}
table.price tr td {text-align:center;}
table.price tr td.red {color:red;font-weight:bold;}
table.price tr td.border-right {border-right:1px solid rgba(225,7,7,.5) !important;}
table.price tr td.border-top {border-top:1px solid rgba(225,7,7,.5) !important;}
table.price tr td.border-bottom {border-bottom:1px solid rgba(225,7,7,.5) !important;}
table.price table.shop-icon {margin-top:0;margin-bottom:0;}

table.left tr th {text-align:left !important;}
table.left tr td {text-align:left !important;}
table.left-first tr th {text-align:center !important;}
table.left-first tr th:first-child {text-align:left !important;}
table.left-first tr td {text-align:center;}
table.left-first tr td:first-child {text-align:left;}

table.fixed {table-layout:fixed;}
table.clear tr td {border:none !important;}
table tr td.tradingview-widget-logo {width:80px;padding:0 !important;}
table tr td.tradingview-widget-logo:hover {background-color:#eaeaea;}
table tr td ul {margin-bottom:0 !important;}

table.shop {box-shadow:0px 2px rgba(0,0,0,0.12);table-layout:fixed;max-width:340px;border-width:0;margin-left:auto;margin-right:auto;}
table.shop tr {text-align:center;border-bottom:2px #e10206 solid;}
table.shop tr td {padding:5px 3px !important;font-weight:bold;text-align:center !important;border-width:0;border-top:none !important;}
table.shop tr td a img {width:80%;}
table.shop-icon {width:auto;margin:1.2rem auto;}
table.shop-icon td {width:4rem;border:none !important;}

a.plan-button {color:#fff;margin:0 5px;padding:5px 10px;font-size:14px;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;}
a.plan-button:hover {background:transparent !important;}
a.plan-button-red {background-color:#e10707;border:2px solid #e10707;}
a.plan-button-red:hover {background:transparent !important;color:#e10707 !important;}
a.plan-button-blue {background-color:#17a2b8;border:2px solid #17a2b8;}
a.plan-button-blue:hover {background:transparent !important;color:#17a2b8 !important;}

ul.list-info {list-style:none;}
ul.list-info li i.sui {width:30px;}
li.best-seller img {position:absolute;left:1px;top:4px;width:1.2em;height:1.2em;line-height:1.2em;text-align:center;}
i.sui-check,i.sui-arrow-right,i.sui-chevron-right,i.sui-bookmark-o {color:#00bf08 !important;}
i.sui-exclamation,i.star {color:#ff8c00 !important;}
i.sui-ban {color:#df0000 !important;}
i.sui-info-circle {color:#00aeef !important;}
img.border {width:100%;-webkit-box-shadow:0 0 10px rgba(0,204,204,.5);box-shadow:0 0 10px rgba(0,204,204,.5);}
img.circle {border-radius:50%;}

.center {text-align:center !important;margin-left:auto;margin-right:auto;}
ul.left li {text-align:left !important;}
th.left, td.left {text-align:left !important;}
th.right, td.right {text-align:right !important;}
hr.split {margin:0 !important;border-top:1px #00aeef solid !important;}

.content-landing-button {text-align:center;margin:12px auto;}
.content-landing-button a {margin:0px 5px;}
.content-landing-button a span {padding:10px 20px !important;}
.content-landing-button a span i {margin-right:0.2em !important;}
.content-landing-button a img {width:90px;}
.content-landing-button a img.app-store {width:150px;}

.grid .entry-title {font-size:1.2rem;}
.grid .grid__item {outline-offset:0;}
.comment-reply-title {margin-top:0;}
.comment-list li.comment {margin-top:1.5rem;padding-top:1.5rem;}
.post-navigation .page-numbers, .post-navigation a {font-size:1.16rem;}
.fp-title .edit-link, .btn-edit {display:none !important;}

.coupon-input-group {position:relative;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-align:stretch;align-items:stretch;margin-bottom:1rem;}
.coupon-input-group .coupon {height:36px;border:1px solid #ccc;border-radius:0;border-top-left-radius:.25rem;border-bottom-left-radius:.25rem;position:relative;-ms-flex:1 1 auto;margin:0;font-size:14px;padding:0 10px;}
.coupon-input-group-append {display:-ms-flexbox;display:flex;}
.coupon-input-group-append .copy {border-top-left-radius:0;border-top-right-radius:.25rem;border-bottom-left-radius:0;border-bottom-right-radius:.25rem;position:relative;z-index:2;cursor:pointer;-webkit-appearance:button;display:inline-block;color:#fff !important;background-color:#e10707;text-align:center;vertical-align:middle;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;border:1px #e10707 solid;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;font-size:14px;}
.coupon-input-group-append .copy:hover {background-color:#970505;}
.coupon-input-group-append .copy .tooltiptext {display:none;background-color:#333;color:#fff;text-align:center;border-radius:3px;position:absolute;z-index:1;margin-left:12px;margin-top:-5px;width:60px;height:30px;line-height:30px;font-size:13px;}

.su-quote {font-style:normal !important;font-size:15px;}
.su-quote .su-quote-inner p:last-child {margin-bottom:0px;}
.su-quote-style-flat-green a {color:#fff;text-decoration:underline !important;}

.su-box {border-width:0 !important;}
.su-box-title {color:#fff;}
.su-column-size-1-2 {margin:0 !important;}
.su-column-size-2-5 img {width:90%;max-width:320px;}
.su-service {margin-top:1.5rem;}

.su-spoiler-title {font-size:14px;}
.su-spoiler-content {font-size:15px;}
.su-spoiler-best-seller {margin-bottom:0 !important;}
.su-spoiler-best-seller .su-spoiler-title {font-size:16px;font-weight:normal;}
.su-spoiler-best-seller .su-spoiler-content {font-size:12px !important;padding:0.1rem 0 0.1rem 1.5rem;}

.su-tabs div.su-tabs-nav span {font-size:16px;}
.su-tabs div.su-tabs-pane {font-size:15px;}
.su-tabs div.su-tabs-pane hr {margin-top:1rem;margin-bottom:1rem;}
.su-tabs-style-flat-blue table.aawp-table,.su-tabs-style-flat-green table.aawp-table {border:none !important;}
.su-tabs-style-flat-blue table.aawp-table th,.su-tabs-style-flat-green table.aawp-table th {color:#444;}
.su-tabs-style-flat-blue p.aawp-disclaimer a,.su-tabs-style-flat-green p.aawp-disclaimer a {color:#fff;}

.su-table table.su-table-default {border:none !important;}
.su-table table.su-table-default th {background:#d9edf7 !important;border-top:1px solid #ccc !important;word-break:break-all;}
.su-table table.su-table-default td {border:none !important;border-bottom:1px solid #ddd !important;}
.su-table table.su-table-left th {text-align:left !important;}
.su-table table.su-table-left td {text-align:left !important;}

.sue-pricing-table {margin-left:auto;margin-right:auto;}
.sue-pricing-table-small .sue-plan-options ul li {font-size:14px;padding:1px 0 !important;line-height:30px !important;min-height:32px;}
.sue-pricing-table-small-button .sue-plan-footer a {font-size:15px;padding:2px 10px !important;border-radius:3px;}
.sue-plan-price-after {font-size:0.5em !important;}
.sue-plan-options {padding:0 1rem;}
.sue-plan-options ul li {word-break:break-all;}

.su-section-header {border-bottom:2px solid #212121;margin:2rem auto 1.2rem;background-image:url("images/section-header-background.svg");background-repeat:no-repeat;}
.su-section-header h3 {display:inline-block;margin:7px 0 5px 7px;color:#fff;text-shadow:1px 1px 0 #000;padding:4px 12px;font-size:20px;font-weight:500;background-image:url("images/section-header-background.png");}
.su-section-header h3.blue {background-position:0 -104px;}
.su-section-header h3.green {background-position:0 -208px;}
.su-section-header h3.light-green {background-position:0 -312px;}
.su-section-header + ul {display:block;padding:0 !important;margin-bottom:2rem !important;}
.su-section-header + ul li {list-style-type:none;display:inline-block;margin-bottom:1rem;padding-right:1rem !important;}

.su-title {margin:2rem 0 1.5rem 0;width:100%;}
.su-title tr td:nth-child(1) {font-size:1.6rem !important;width:3.5rem;height:3.5rem;text-align:center;background-color:#f1334f;color:#fff !important;}
.su-title tr td:nth-child(2) {font-size:1.4rem !important;background-color:#f7f8fc;color:#e10707 !important;padding-left:1rem !important;}
.su-title-list {margin-bottom:2rem;}
.su-title-list tr:nth-child(odd) td:nth-child(1) {font-size:1.2rem !important;border:none !important;width:5rem;height:2.2rem;}
.su-title-list tr:nth-child(even) td {background-color:transparent;height:0.7rem;border:none !important;padding:0 !important;}
.su-title-list tr td:nth-child(2) a {font-size:1.2rem !important;border:none !important;color:#444 !important;text-decoration:none;}

.su-alert {padding:1.5rem;margin:1.5rem 0;}
.su-alert h3,.su-note-inner h3 {margin-top:0;margin-bottom:1.5rem;}
.su-alert-red {border-left:0.5rem #ff4a48 solid;background-color:#ffeaeb;}
.su-alert-green {border-left:0.5rem #00bf08 solid;background-color:#f0fff0;}
.su-alert-blue {border-left:0.5rem #0073ec solid;background-color:#ebfaff;}
.su-alert-yellow {border-left:0.5rem #ffda00 solid;background-color:#fffae8;}
.su-alert-purple {border-left:0.5rem #7a4aec solid;background-color:#f1ecfd;}
.su-alert-tips {border-left:0.5rem #ffda00 solid;background-color:#fffae8;}
.su-alert-note {border-left:0.5rem #ff4a48 solid;background-color:#ffeaeb;}
.su-alert-best-seller {border-left:0.5rem #ff8c00 solid;background-color:#fffaf0;}

.su-label {margin-left:0.2rem;border:1px #999 solid;cursor:pointer;}
.su-label a {text-decoration:none !important;}
.su-label:hover a {color:#fff !important;}
.su-label i {margin-right:0.3rem;display:inline-block;}
.su-label-red {color:#f00;border:1px #f00 solid;background:transparent;}
.su-label-red a {color:#f00;}
.su-label-red:hover {color:#fff;border:1px #f00 solid;background:#f00;}
.su-label-green {color:#008821;border:1px #008821 solid;background:transparent;}
.su-label-green a {color:#008821;text-decoration:none !important;}
.su-label-green:hover {color:#fff;border:1px #008821 solid;background:#008821;}
.su-label-black {color:#000;border:1px #000 solid;background:transparent;}
.su-label-black a {color:#000;}
.su-label-black:hover {color:#fff;border:1px #000 solid;background:#000;}
.su-label-jd {color:#e2231a;border:1px #e2231a solid;background:transparent;}
.su-label-jd a {color:#e2231a;}
.su-label-jd:hover {border:1px #e2231a solid;background:#e2231a;}
.su-label-amazon {color:#c45500;border:1px #c45500 solid;background:transparent;}
.su-label-amazon a {color:#c45500;}
.su-label-amazon:hover {border:1px #c45500 solid;background:#c45500;}
.su-label-steam {color:#004986;border:1px #004986 solid;background:transparent;}
.su-label-steam a {color:#004986;}
.su-label-steam:hover {border:1px #004986 solid;background:#004986;}
.su-label-microsoft {color:#03a5f0;border:1px #03a5f0 solid;background:transparent;}
.su-label-microsoft a {color:#03a5f0;}
.su-label-microsoft:hover {border:1px #03a5f0 solid;background:#03a5f0;}
.su-label-linkedin {color:#0073b0;border:1px #0073b0 solid;background:transparent;}
.su-label-linkedin a {color:#0073b0;}
.su-label-linkedin:hover {border:1px #0073b0 solid;background:#0073b0;}
.su-label .sui-map-marker {width:9px;}
.su-label .sui-apple {width:12px;}
.su-label .fa-microsoft,.su-label .fa-imdb,.su-label .fa-linkedin {width:13px;}
.su-label .sui-search,.su-label .sui-amazon {width:14px;}
.su-label .sui-steam,.su-label .fa-adobe,.su-label .fa-google-play,.su-label .sui-youtube-play {width:15px;}

.su-button-banner {background-color:#1a73e8;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;}
.su-button-banner:hover {background-color:#174EA7;}
.su-button-banner span {color:#fff;padding:6px 20px !important;font-size:20px;}

.su-button-broker {color:#fff;background-color:#e10707;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;}
.su-button-broker-demo {background-color:#17a2b8;}
.su-button-broker-live {background-color:#395d8a;}
.su-button-broker span {color:#fff;padding:6px !important;font-size:16px;width:120px;}

.su-button-animate {color:#fff !important;text-decoration:none !important;padding:8px 20px;position:relative;border:none;background-size:300% 100%;moz-transition:all .4s ease-in-out;-o-transition:all .4s ease-in-out;-webkit-transition:all .4s ease-in-out;transition:all .4s ease-in-out;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.su-button-animate:hover {background-position:100% 0;moz-transition:all .4s ease-in-out;-o-transition:all .4s ease-in-out;-webkit-transition:all .4s ease-in-out;transition:all .4s ease-in-out;}
.su-button-animate-color-1 {background-image:linear-gradient(135deg,#4000b9,#fc28b8,#fc28b8,#4000b9);box-shadow:0 5px 8px 0 rgba(116,79,168,0.5);}
.su-button-animate-color-2 {background-image:linear-gradient(135deg,#25aae1,#40e495,#30dd8a,#2bb673);box-shadow:0 5px 8px 0 rgba(49,196,190,0.75);}
.su-button-animate-color-3 {background-image:linear-gradient(135deg,#f5ce62,#e43603,#fa7199,#e85a19);box-shadow:0 5px 8px 0 rgba(229,66,10,0.75);}
.su-button-animate-color-4 {background-image:linear-gradient(135deg,#fc6076,#ff9a44,#ef9d43,#e75516);box-shadow:0 5px 8px 0 rgba(252,104,110,0.75);}
.su-button-animate-color-5 {background-image:linear-gradient(135deg,#0ba360,#3cba92,#30dd8a,#2bb673);box-shadow:0 5px 8px 0 rgba(23,168,108,0.75);}
.su-button-animate-color-6 {background-image:linear-gradient(135deg,#009245,#fcee21,#00a8c5,#d9e021);box-shadow:0 5px 8px 0 rgba(83,176,57,0.75);}
.su-button-animate-color-7 {background-image:linear-gradient(135deg,#6253e1,#852d91,#a3a1ff,#f24645);box-shadow:0 5px 8px 0 rgba(126,52,161,0.75);}
.su-button-animate-color-8 {background-image:linear-gradient(135deg,#29323c,#ffa500,#2b5876,#4e4376);box-shadow:0 5px 8px 0 rgba(45,54,65,0.75);}
.su-button-animate-color-9 {background-image:linear-gradient(135deg,#25aae1,#4481eb,#04befe,#3f86ed);box-shadow:0 5px 8px 0 rgba(65,132,234,0.75);}
.su-button-animate-color-10 {background-image:linear-gradient(135deg,#ed6ea0,#ec8c69,#f7186a,#fbb03b);box-shadow:0 5px 8px 0 rgba(236,116,149,0.75);}

.su-post-tag {color:#222;display:inline-block;height:40px;line-height:40px;padding-left:20px;padding-right:18px;border-radius:20px;border-bottom:1px solid #ccc;transition:all .2s ease-in-out;box-shadow:rgba(0,0,0,0.15) 0 3px 15px;text-decoration:none !important;}
.su-post-tag:hover {color:#fff !important;}
.su-post-tag-red {border-right:8px solid #e91e63;}
.su-post-tag-red:hover {background:#e91e63;border-right-color:#f06292;}
.su-post-tag-green {border-right:8px solid #00bcd4;}
.su-post-tag-green:hover {background:#00bcd4;border-right-color:#4dd0e1;}
.su-post-tag-blue {border-right:8px solid #2196f3;}
.su-post-tag-blue:hover {background:#2196f3;border-right-color:#64b5f6;}
.su-post-tag-orange {border-right:8px solid #ff9800;}
.su-post-tag-orange:hover {background:#ff9800;border-right-color:#ffb74d;}

.su-regulate {border:1px #eee solid;margin-bottom:0;}
.su-regulate img {height:50px;max-width:80%;margin:1rem auto 0.1rem auto;}
.su-regulate table {margin-bottom:0.5rem;}
.su-regulate table td {border:none !important;}
.su-regulate table td:first-child a {background-color:#e10707;}
.su-regulate table td:last-child a {background-color:#17a2b8;}
.su-regulate table td a span {color:#fff;padding:3px 10px !important;font-size:15px;}

.su-note-inner *:last-child,.su-alert *:last-child {margin-bottom:0 !important;}
.su-table-show-all tr th,.su-table-show-all tr td {display:table-cell !important;}
.su-note-inner,.su-spoiler-content,.su-tabs-pane,.su-box-content,.su-alert,.su-column-inner,.pt-cv-content,.czr-wp-the-content p,.su-section-header {text-align:justify;}

.czr-wp-the-content div.center + ul,.czr-wp-the-content div.center + table {margin-top:1.2rem;}
.czr-wp-the-content ul,.czr-wp-the-content ol {padding:0rem 0.5rem 0 2rem;margin-bottom:1.5rem}
.czr-wp-the-content ul>li,.czr-wp-the-content ol>li {padding:0.05rem 0.2rem;text-align:justify;}

.primary-navbar__wrapper .navbar-brand-sitelogo img {width:250px;}
.mobile-navbar__wrapper .navbar-brand-sitelogo img {width:180px;}
.split-after-content {height:1rem;margin-top:2rem;}

.btn-wordpress {color:#007cba;}
.btn-draw {display:block;cursor:pointer;color:#3f95ff !important;font-size:1rem;margin-bottom:1rem;padding:0.64rem;text-align:center;border:2px #3f95ff solid;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.btn-draw:hover {color:#fff !important;background-color:#00aeef;}

.language-switcher {margin-top:2rem;}
.language-switcher a {color:#777 !important;border:1px #777 solid;text-align:center;text-decoration:none;padding:0.5rem 0.8rem;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;font-size:0.8rem;}
.language-switcher a:hover {color:#fff !important;background-color:#777;border-color:#777;}
.language-switcher a i {display:inline-block;width:1rem;margin-right:0.5rem;}

footer#footer #footer-widget-area {text-align:left;position:relative;}
footer#footer #footer-widget-area div.title {font-size:16px;margin-left:0.5rem;}
footer#footer #footer-widget-area div p {padding-left:0.5rem;}
footer#footer #footer-widget-area div p.text {color:#777;text-align:justify;}
footer#footer #footer-widget-area div p a {font-size:15px;line-height:36px;}
footer#footer #footer-widget-area div hr {margin-top:15px;margin-bottom:15px;width:90%;border-bottom:0px;border-top:1px #888 solid;}
	
emojis.cow-face::before {content:'\01F42E';}
emojis.slightly-smiling-face::before {content:'\01F642';}
emojis.smiling-face-with-smiling-eyes::before {content:'\01F60A';}
emojis.face-with-tears-of-joy::before {content:'\01F602';}
emojis.thumbs-up::before {content:'\01F44D';}
emojis.loudly-crying-face::before {content:'\01F62D';}
emojis.face-with-head-bandage::before {content:'\01F915';}
emojis.rolling-on-the-floor-laughing::before {content:'\01F923';}

#cancel-comment-reply-link, .action-link, .btn-large, .btn-more, .caps, .comment-reply-link, .czr-overlay .overlay-content .nav__container nav, .nav__menu, .post-author__wrapper figure figcaption .action-link, .post-author__wrapper figure figcaption .comment-reply-link, .post-navigation .page-numbers, .post-navigation a, .post-section-title, .sidebar .widget-title, .tax__container a, .widget_calendar caption, .widget_calendar tfoot, .widget_categories li, button, label, input, table th {text-transform:none !important;}

@media screen and (min-width:1025px) and (max-width:1279px) {.tc-sidebar.right {padding-left:1.5em;} .col-md-3 {-ms-flex:0 0 28%;flex:0 0 28%;max-width:28%;} .col-md-9 {-ms-flex:0 0 72%;flex:0 0 72%;max-width:72%;}}
@media screen and (min-width:1440px) {.container {max-width:1390px;}}
@media print {body * {display:none !important;} body:after {content:"";}}

/** PC */
@media screen and (min-device-width:1025px) {
	footer#footer div hr {width:90%;}

	div.comments-area {margin-top:-2rem;}
	div.shop-item {float:right;width:360px;text-align:center;margin:0.6rem 0 0.6rem 0.6rem;}
	div.su-column-inner div.shop-item, .su-title + div.shop-item {float:none;margin-left:auto;margin-right:auto;}
	div.shop-item > div.img > img {width:320px;margin:3px 0px;}

	div.textwidget div.pt-cv-wrapper div.pt-cv-content-item {padding-bottom:5px;}
	div.textwidget div.pt-cv-wrapper div.pt-cv-ifield img.pt-cv-thumbnail {width:95px;margin-right:12px !important;}
	div.textwidget div.pt-cv-wrapper div.pt-cv-ifield h4.pt-cv-title {line-height:22px;word-break:break-all;text-align:justify;}
	div.textwidget div.pt-cv-wrapper div.pt-cv-ifield div.pt-cv-content {display:none;}

	div.banner div.img {line-height:140px;}
	div.banner div img {max-height:64px;max-width:85%;}
	div.banner div.description {font-size:1.2em;}

	table.best-seller {width:auto;border:none !important;margin:3.5rem auto 1rem auto;}
	table.best-seller td.icon {width:38px;padding:0 !important;}
	table.best-seller td.title {font-size:36px !important;color:#000 !important;padding-right:0 !important;}

	aside.widget div.ads-adsense {margin:25px auto 40px auto;}
	.aawp-product-reviews {display:inline-block !important;}

	.su-row .su-column-size-1-2 {width:50% !important;}
	.su-table table.su-table-default td.buy {padding:0.6em 0 0.6em 1em !important;}

	.su-shop-icon {list-style:none !important;padding:0 !important;min-width:150px;}
	.su-shop-icon li {float:left;padding:0 0.6rem 0 0 !important;}
	.su-shop-icon li img {width:40px;}

	.sue-testimonial {margin-top:1.2em;margin-bottom:1.2em !important;}
	.sue-testimonial-has-photo {padding-left:120px !important;}
	.sue-testimonial-has-photo img.sue-testimonial-photo {width:100px !important;height:100px !important;}

	.text-md-right {text-align:justify !important;}
	.text-md-right ul {font-size:1.2em;}

	.branding .navbar-brand {line-height:1em;}
	table#pdd-best-seller,div#aawp-pdd,div#aawp-pdd + .aawp-disclaimer,li#pdd-best-seller-li {display:none !important;}
}

/** Pad */
@media screen and (min-device-width:768px) and (max-device-width:1024px) {
	div.comments-area {margin-top:-2rem;}
	div.shop-item {text-align:center;margin:0px auto 15px auto;}
	div.shop-item img {width:320px;margin:3px 0px;}

	table.best-seller {width:auto;border:none !important;margin:3.5rem auto 1rem auto;}
	table.best-seller td.icon {width:38px;padding:0 !important;}
	table.best-seller td.title {font-size:36px !important;color:#000 !important;padding-right:0 !important;}

	.aawp-table-th-rating,.aawp-table-td-rating {display:none !important;}
	
	.su-row .su-column-size-1-2 {width:50% !important;float:left !important;}

	.su-table table th.buy,.su-table table td.buy {display:none;}

	.sue-pricing-table .sue-plan {display:block;width:90%;margin:1rem auto;border-left-width:1px !important;}
	.sue-plan-options ul li {line-height:40px !important;}

	.sue-testimonial {margin-top:1.2em;margin-bottom:1.2em !important;}
	.sue-testimonial-has-photo {padding-left:100px !important;}
	.sue-testimonial-has-photo img.sue-testimonial-photo {width:80px !important;height:80px !important;}

	#content {flex:0 0 100%;max-width:100%;}
	.text-md-right {display:none;}
}

/** Mobile */
@media screen and (max-device-width:767px) {
	/** Automatically adapt the font size */
	body{line-height:1.5;font-size:.9em}@media (min-width:20em) and (max-width:40em){body{line-height:calc(1.5 + .15 * ((100vw - 20em)/ 20))}}@media (min-width:40em){body{line-height:1.65}}@media (min-width:20em) and (max-width:60em){body{font-size:calc(.9em + .0375 * ((100vw - 20em)/ 40))}}@media (min-width:60em){body{font-size:.9375em}}h1{font-size:1em}@media (min-width:20em) and (max-width:60em){h1{font-size:calc(1em + 1.48832 * ((100vw - 20em)/ 40))}}@media (min-width:60em){h1{font-size:2.48832em}}h2{font-size:1em}@media (min-width:20em) and (max-width:60em){h2{font-size:calc(1em + 1.0736 * ((100vw - 20em)/ 40))}}@media (min-width:60em){h2{font-size:2.0736em}}h3{font-size:1em}@media (min-width:20em) and (max-width:60em){h3{font-size:calc(1em + .728 * ((100vw - 20em)/ 40))}}@media (min-width:60em){h3{font-size:1.728em}}h4{font-size:1em}@media (min-width:20em) and (max-width:60em){h4{font-size:calc(1em + .44 * ((100vw - 20em)/ 40))}}@media (min-width:60em){h4{font-size:1.44em}}h5{font-size:1em}@media (min-width:20em) and (max-width:60em){h5{font-size:calc(1em + .2 * ((100vw - 20em)/ 40))}}@media (min-width:60em){h5{font-size:1.2em}}h6{font-size:1em}@media (min-width:20em) and (max-width:60em){h6{font-size:calc(1em + 0 * ((100vw - 20em)/ 40))}}@media (min-width:60em){h6{font-size:1em}}.display{font-size:1em}@media (min-width:20em) and (max-width:60em){.display{font-size:calc(1em + 4.15978 * ((100vw - 20em)/ 40))}}@media (min-width:60em){.display{font-size:5.15978em}}
	
	div.czr-wp-the-content div.pt-cv-wrapper div.pt-cv-content-item:last-child {padding-bottom:0;}
	div.czr-wp-the-content div.pt-cv-ifield img.pt-cv-thumbnail {width:auto;height:75px;float:left;margin-right:10px;}
	div.czr-wp-the-content div.pt-cv-ifield h4.pt-cv-title {white-space:nowrap;margin-bottom:3px !important;}
	div.czr-wp-the-content div.pt-cv-ifield div.pt-cv-content {height:50px !important;white-space:nowrap;}

	div.comments-area {margin:-2rem auto 3rem auto;}
	div.shop-item {text-align:center;margin:0px auto 15px auto;}
	div.shop-item img {width:320px;margin:3px 0px;}

	div.textwidget div.pt-cv-wrapper {overflow:hidden;}
	div.textwidget div.pt-cv-wrapper div.pt-cv-content-item {padding-left:10px;padding-right:10px;}
	div.textwidget div.pt-cv-wrapper div.pt-cv-ifield img.pt-cv-thumbnail {width:auto;height:80px;}
	div.textwidget div.pt-cv-wrapper div.pt-cv-ifield h4.pt-cv-title {margin-bottom:6px;word-break:break-all;}
	div.textwidget div.pt-cv-wrapper div.pt-cv-ifield div.pt-cv-content a {margin:0px;}

	div.banner div.top {margin:40px auto 27px auto !important;}
	div.banner div.img {line-height:200px;}
	div.banner div img {margin-left:10%;margin-right:10%;}
	div.banner div.description {font-size:1.5em;}
	div.banner a.su-button span {line-height:2em !important;}

	div.share table tr td:nth-child(1) {display:none;}
	
	div.about-author div.su-column:nth-child(1) div.center {margin:0 auto;}
	div.about-author div.su-column:nth-child(1) div.su-column-inner {padding-top:2rem;}

	#content,#main-wrapper {padding-bottom:0;}

	table.best-seller {width:auto;border:none !important;margin:3.5rem auto 0.5rem auto;}
	table.best-seller td.icon {width:30px;padding:0 !important;}
	table.best-seller td.title {font-size:28px !important;color:#000 !important;padding-right:0 !important;}

	aside.widget div.ads-adsense {margin:10px auto 40px auto;}
	
	.su-table table.su-table-default th {display:none;}
	.su-table table.su-table-default th:first-child {display:table-cell;}
	.su-table table.su-table-default td {display:none;}
	.su-table table.su-table-default td:first-child {display:table-cell;}

	.sue-pricing-table .sue-plan {display:block;width:90%;margin:1rem auto;border-left-width:1px !important;}
	.sue-plan-options ul li {line-height:40px !important;}
	.sue-pricing-table .sue-plan .sue-plan-options {min-height:auto !important;}

	.sue-testimonial {margin-top:1.2em;margin-bottom:1.2em !important;}
	.sue-testimonial-has-photo {padding-left:100px !important;}
	.sue-testimonial-has-photo img.sue-testimonial-photo {width:80px !important;height:80px !important;}

	.text-md-right ul {font-size:1.4em;}
}

.aawp {box-sizing:border-box;background-color:#fff;font-size:15px !important;margin-top:1.5rem;}
.aawp table.aawp-table {display:block;border-collapse:collapse;border-spacing:0;}
.aawp table.aawp-table,.aawp table.aawp-table thead,.aawp table.aawp-table tbody,.aawp table.aawp-table th,.aawp table.aawp-table td,.aawp table.aawp-table tr {display:block;border:none;}
.aawp table.aawp-table thead tr {position:absolute;top:-9999px;left:-9999px;}
.aawp table.aawp-table tr {margin-bottom:0;}
.aawp table.aawp-table th {padding:15px 10px !important;}
.aawp table.aawp-table th.aawp-table-th-thumb {text-align:center;}
.aawp table.aawp-table td {border-left:none !important;border-right:none !important;}
.aawp table.aawp-table td:before {content:attr(data-label) ":";display:inline-block;font-weight:bold;width:90px;}
.aawp table.aawp-table td img {display:inline-block;max-width:100%;height:auto;margin:0 auto;max-height:160px;}
.aawp table.aawp-table td.aawp-table-td-position {font-weight:bold;text-align:center;}
.aawp table.aawp-table td.aawp-table-td-position:before {content:attr(data-label) "";width:auto;margin-right:5px;}
.aawp table.aawp-table td.aawp-table-td-thumb,.aawp table.aawp-table td.aawp-table-td-title,.aawp table.aawp-table td.aawp-table-td-links {text-align:center;}
.aawp table.aawp-table td.aawp-table-td-thumb:before,.aawp table.aawp-table td.aawp-table-td-title:before,.aawp table.aawp-table td.aawp-table-td-links:before {display:none;}
.aawp table.aawp-table td.aawp-table-td-pricing .aawp-product-price {display:inline-block;margin-right:10px;vertical-align:middle;}
.aawp table.aawp-table td.aawp-table-td-pricing .aawp-product-price-old {color:#666;font-size:11.2px;text-decoration:line-through;}
.aawp table.aawp-table td.aawp-table-td-pricing .aawp-check-prime {width:55px;}
.aawp table.aawp-table td.aawp-table-td-rating i {font-size:16px;}
.aawp table.aawp-table span.aawp-product-reviews {display:none;}

.aawp table.aawp-table-70 td:before {width:70px;}

.aawp-product {position:relative;margin:0 0 30px;width:100%;}
.aawp-product .aawp-product-title {word-break:break-all;color:#e10707;}
.aawp-product-shop {display:inline-block;font-size:11px;line-height:15px;border:1px #ccc solid;padding:1px 5px;margin-top:5px;}
span.aawp-product-shop-jd-sale {background-color:#e23a3a;color:#fff;border:1px #e23a3a solid;}
span.aawp-product-shop:nth-child(2) {margin-left:5px;}

.aawp-disclaimer {font-size:12px;margin-top:0.5rem;}
.aawp-disclaimer i {margin-left:3px;}

.aawp-button-jd {background-color:#e2231a;color:#fff !important;padding:10px 16px;border:none !important;text-decoration:none !important;}
.aawp-button-jd:hover {background-color:#c91623;}
.aawp-button-tmall {background-color:#ff0036;color:#fff !important;padding:10px 16px;border:none !important;text-decoration:none !important;}
.aawp-button-tmall:hover {background-color:rgba(255,0,54,.8);}
.aawp-button-pdd {background-color:#e02e24;color:#fff !important;padding:10px;border:none !important;text-decoration:none !important;}
.aawp-button-pdd:hover {background-color:#c51e14;}
.aawp-button-amazon {border-radius:3px;background:linear-gradient(to bottom,#f7dfa5,#f0c14b) repeat scroll 0 0 rgba(0,0,0,0);color:#111 !important;padding:8px 12px;border:1px #9c7e31 solid !important;text-decoration:none !important;}
.aawp-button-amazon:hover {background:linear-gradient(to bottom,#f5d78e,#eeb933) repeat scroll 0 0 rgba(0,0,0,0);}

@media (max-width:799px) {
  .aawp {font-size:14px !important;}
  .aawp table.aawp-table td {border:none !important;}
  .aawp table.aawp-table td:last-child {padding-bottom:2rem !important;border-bottom:1px #f7f8f9 solid !important;}
  .aawp table.aawp-table tr:last-child td:last-child {border-bottom:none !important;}
  .aawp table.aawp-table td.aawp-table-td-position {position:absolute;height:0;line-height:1px;color:#fff !important;padding:0 15px !important;border-top:15px solid #00bf08 !important;border-bottom:15px solid #00bf08 !important;border-right:15px solid transparent !important;top:0.6rem;left:-5px;}
  .aawp table.aawp-table td.aawp-table-td-thumb {padding-bottom:0;}
  .aawp table.aawp-table td.aawp-table-td-title {padding:1.2rem 0.5rem;line-height:1.2rem;}
  .aawp table.aawp-table td.aawp-table-td-rating,.aawp table.aawp-table td.aawp-table-td-pricing,.aawp table.aawp-table td.aawp-table-td-description {padding-top:0 !important;padding-bottom:0 !important;}
  .aawp table.aawp-table td.aawp-table-td-rating div.split {display:none;}
  
  .aawp table.aawp-table td.aawp-table-td-thumb-finance img {width:150px;max-height:40px;margin-bottom:1rem;}
}

@media (min-width:800px) {
  .aawp table.aawp-table {display:table;table-layout:auto;width:100%;line-height:1.4;}
  .aawp table.aawp-table thead {display:table-header-group;}
  .aawp table.aawp-table thead tr {position:static;top:auto;left:auto;}
  .aawp table.aawp-table tbody {display:table-row-group;}
  .aawp table.aawp-table tr {display:table-row;}
  .aawp table.aawp-table th,.aawp table.aawp-table td {display:table-cell;padding:10px !important;}
  .aawp table.aawp-table td:before {display:none;content:"";width:auto;}
  .aawp table.aawp-table thead {background:#fafafa;}
  .aawp table.aawp-table th.aawp-table-th-position,.aawp table.aawp-table td.aawp-table-th-position,.aawp table.aawp-table th.aawp-table-td-position,.aawp table.aawp-table td.aawp-table-td-position {max-width:50px;font-weight:bold;white-space:nowrap;}
  .aawp table.aawp-table th.aawp-table-th-thumb img,.aawp table.aawp-table td.aawp-table-th-thumb img,.aawp table.aawp-table th.aawp-table-td-thumb img,.aawp table.aawp-table td.aawp-table-td-thumb img {display:block;margin:0 auto;max-width:65px;max-height:65px;}
  .aawp table.aawp-table th.aawp-table-th-rating .aawp-product-reviews,.aawp table.aawp-table td.aawp-table-th-rating .aawp-product-reviews,.aawp table.aawp-table th.aawp-table-td-rating .aawp-product-reviews,.aawp table.aawp-table td.aawp-table-td-rating .aawp-product-reviews {display:block;margin-top:5px;color:#666;font-size:12px;white-space:nowrap;}
  .aawp table.aawp-table th.aawp-table-th-pricing,.aawp table.aawp-table td.aawp-table-th-pricing,.aawp table.aawp-table th.aawp-table-td-pricing,.aawp table.aawp-table td.aawp-table-td-pricing {white-space:nowrap;}
  .aawp table.aawp-table th.aawp-table-th-pricing .aawp-product-price,.aawp table.aawp-table td.aawp-table-th-pricing .aawp-product-price,.aawp table.aawp-table th.aawp-table-td-pricing .aawp-product-price,.aawp table.aawp-table td.aawp-table-td-pricing .aawp-product-price {display:block;font-weight:bold;}
  .aawp table.aawp-table th.aawp-table-th-pricing .aawp-product-price-old,.aawp table.aawp-table td.aawp-table-th-pricing .aawp-product-price-old,.aawp table.aawp-table th.aawp-table-td-pricing .aawp-product-price-old,.aawp table.aawp-table td.aawp-table-td-pricing .aawp-product-price-old {font-weight:400;}
  .aawp table.aawp-table th.aawp-table-th-links,.aawp table.aawp-table td.aawp-table-th-links,.aawp table.aawp-table th.aawp-table-td-links,.aawp table.aawp-table td.aawp-table-td-links {white-space:nowrap;}
  .aawp table.aawp-table th.aawp-table-th-title,.aawp table.aawp-table td.aawp-table-td-title {padding-left:20px !important;padding-right:20px !important;text-align:justify;}

  .aawp table.aawp-table-jd td.aawp-table-td-rating,.aawp table.aawp-table-tmall td.aawp-table-td-rating,td.aawp-table-td-pricing {width:100px;}
  .aawp table.aawp-table-jd td.aawp-table-td-links,.aawp table.aawp-table-tmall td.aawp-table-td-links {width:110px;}
  .aawp table.aawp-table-amazon td.aawp-table-td-rating,.aawp table.aawp-table-amazon td.aawp-table-td-links {width:120px;}

  .aawp table.aawp-table td.aawp-table-td-thumb-finance {width:160px;}
  .aawp table.aawp-table td.aawp-table-td-thumb-finance img {max-width:100px;max-height:30px;}
  .aawp table.aawp-table td.aawp-table-td-description {min-width:100px;}
}